.loader__container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.783);
    z-index: 100;
    .icon__container {
        display: flex;
        justify-content: center;
        padding-top: 48vh;
    }
}