@font-face {
    font-family: 'MediaMarktPreise';
    src: local('MediaMarktPreise'), url(../../fonts/MediaMarktPreise.woff2) format('woff2');
  }
@font-face {
    font-family: 'MM-Iconfont';
    src: local('MM-Iconfont'), url(../../fonts/MM-Iconfont.woff) format('woff');
  }
@font-face {
    font-family: 'MMHeadlineWebTT-Regular';
    src: local('MMHeadlineWebTT-Regular'), url(../../fonts/MMHeadlineWebTT-Regular.woff2) format('woff2');
  }
@font-face {
    font-family: 'MMTextProWebTT-Bold';
    src: local('MMTextProWebTT-Bold'), url(../../fonts/MMTextProWebTT-Bold.woff2) format('wof2');
  }
@font-face {
    font-family: 'MMTextProWebTT-Regular';
    src: local('MMTextProWebTT-Regular'), url(../../fonts/MMTextProWebTT-Regular.woff2) format('woff2');
  }