
// Colors
$mediamarkt: #df0000;
$dark-grey: #363636;
$ligth-grey: #d8d8d8;
$white: #fff;
//Background Colors
$background-grey: #F2F2F2;
$background-dark: rgb(39, 36, 34);
//Elements Colors
$button-primary: #000
